
/* THE START POINT OF CODE FOR LOGIN PAGE */
.login-div{
    height: 1080px;
    width: 1920;
}
.login-input-Username{ 
    position: relative;
    top: 185px;
    left: 355px;
    width: 255px;
    height: 30px;
    background: #FFFFFF;
    border: 2px solid #016BC1;
    border-radius: 2px;
    font: 14px Arial;
    }
    .login-input-Password{
        position: relative;
        top: 235px;
        left: 355px;
        width: 255px;
        height: 30px;
        background: #FFFFFF;
        border: 2px solid #016BC1;
        border-radius: 2px;
        font: 14px Arial;
    }
    .login-label-Username{
        position: relative;
        top: 175px;
        left: 345px;
        color: #016BC1;
        font: 12px Arial;
        
    }
    .login-label-Password{
        position: relative;
        top: 225px;
        left: 345px;
        color: #016BC1;
        font: 12px Arial;
    
    }
    .login-button-Login{
        position: relative;
        top: 320px;
        left: 355px;
        width: 120px;
        height: 33px;
        background: #016BC1;
        text-align: center;
        border: solid 0.5px white;
        border-radius: 1px;
        font: 14px Dosis;
        color: #FFFFFF;
        
        
    }
    .login-button-CreateAccount{
        position: relative;
        top: 320px;
        left: 365px;
        width: 120px;
        height: 33px;
        background: #A1C1E6;
        text-align: center;
        border: solid 0.5px white;
        border-radius: 1px;
        font: 14px Dosis;
        color: #FFFFFF;
    }
    
    .login-button-CreateAccount:hover , .login-button-Login:hover{
    transform: scale(1.1);
         }
    
    .login-input-Username:focus, .login-input-Password:focus{
            box-shadow: 0px 0px 20px 2px #016BC1;
        }
    
        
/* THE END POINT OF CODE FOR LOGIN PAGE */