<!DOCTYPE html>
<html>
    
<head>
    <title>Login</title>
    <link rel="stylesheet" href="..\static\css\style.css">
</head>

<body >
        <div class="login-div">
            <label for="" class="login-label-Username">Username</label>
            <br>
            <input type="text" class="login-input-Username">
            <br>
            <label for="" class="login-label-Password">Password</label>
            <br>
            <input type="text" class="login-input-Password">
            <br>
            <button class="login-button-Login">Login</button>
            <button class="login-button-CreateAccount">Create Account</button>
        </div>
        </body>

</html>