<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job</title>
    <link rel="stylesheet" href="../static/css/font/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="#" style="border: none;">health institute</a></li>
            <li><a href="#">Teacher</a></li>
            <li><a href="#"
                    style="background: white; border-radius: 20px; padding: 5px 10px; color: #1464BE;">Student</a></li>
            <li><a href="#">Employee</a></li>
            <li><a href="#">Hostel</a></li>
            <li><a href="#">Course</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Attendance</a></li>
            <li><a href="#">Staff</a></li>
            <li>
                <!-- <i class="fas fa -user" style="font-size: 30px;"></i> -->
                <img src="#" alt="">
            </li>
        </ul>
    </nav>

    <div id="content">

        <section>
            <h1>Add Student' job ></h1>
        </section>

        <form action="#" method="post">

            <main id="main">

                <div>
                    <label for="Student_Name">Student_Name</label>
                    <select name="Student_Name" id="">
                        <option value="Select">Select</option>
                        
                    </select>
                    <label for="HireDate">HireDate</label>
                    <input type="date" name="HireDate" id="" required>
                    <label for="Office">Office</label>
                    <input type="text" name="Office" id="" pattern="[A-Za-z- ]+" required>
                    <label for="Position">Position</label>
                    <input type="text" name="Position" id="" pattern="[A-Za-z- ]+" required>
                    <label for="Province">Province</label>
                    <input type="text" name="Province" id="" pattern="[A-Za-z- ]+" required>
                   
                    <div style="margin: 0; margin-top: 30px;  display: flex; justify-content: space-around;">

                        <button type="submit" class="button-style">Save</button>
                        <button type="reset" class="button-style" id="btn-clear">Cancel</button>

                    </div>
                </div>
              
            </main>

        </form>

        <aside>

            <div>
                <p>Notification</p>
                <p>Lorem ndis labore quod eligendi obcaecati animi pariatur nostrum eius consequatur blanditiis corporis
                    aperiam culpa ad aliquid atque inventore, maiores dolores perspiciatis.</p>
                <p>Lorem, ip commodi rem corrupti saepe voluptatibus repellendus pariatur doloribus quis nobis
                    consequuntur fugiat? Tempore cumque autem culpa quod, impedit repellat et aut!</p>
                <p>Lorem ipstam quas doibero reprehenderit tempora porro explicabo ea doloribus molestiae enim.</p>
            </div>

            <p style="margin: 0 0 0 10px; position: fixed; bottom: 50px; color: white;">Powered By: CodeX</p>

            <div>
                <a href="">
                    <i class="fab fa-facebook" style="font-size: 20px;"></i>
                </a>
                <a href="">
                    <i class="fab fa-twitter" style="font-size: 20px;"></i>
                </a>
                <a href="">
                    <i class="fab fa-linkedin" style="font-size: 20px;"></i>
                </a>
                <a href="">
                    <i class="fab fa-whatsapp" style="font-size: 20px;"></i>
                </a>
                <a href="">
                    <i class="fab fa-instagram" style="font-size: 20px;"></i>
                </a>
            </div>

        </aside>

    </div>

</body>

</html>