<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="stylesheet" href="font/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="#" style="border: none;">health institute</a></li>
            <li><a href="#">Teacher</a></li>
            <li><a href="#"
                    style="background: white; border-radius: 20px; padding: 5px 10px; color: #1464BE;">Student</a></li>
            <li><a href="#">Employee</a></li>
            <li><a href="#">Hostel</a></li>
            <li><a href="#">Course</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Attendance</a></li>
            <li><a href="#">Staff</a></li>
            <li>
                <i class="fas fa-user" style="font-size: 30px;"></i>
            </li>
        </ul>
    </nav>

    <div id="content">

        <section>
            <h1>Add Student ></h1>
        </section>

        <form action="#" method="post">

            <main id="main">

                <div>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="">
                    <label for="Father Name">Father_Name</label>
                    <input type="text" name="Father_name" id="">
                    <label for="GrandFather Name">GrandFather_Name</label>
                    <input type="text" name="GrandFather_Name" id="">
                    <label for="Gender">Gender</label>
                    <select name="Gender" id="">
                        <option value="Select">Select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                    <label for="DOB">DOB</label>
                    <input type="date" name="DOB" id="">
                    <label for="POB">POB</label>
                    <input type="text" name="POB" id="">
                    <label for="NativeLanguage">Native_Language</label>
                    <select name="NativeLanguage" id="">
                        <option value="Select">Select</option>
                        <option value="pashto">Pashto</option>
                        <option value="dari">Dari</option>
                    </select>
                    <label for="Nationality">Nationality</label>
                    <select name="Nationality" id="">
                        <option value="Select">Select</option>
                        <option value="pashtoon">Pashtoon</option>
                        <option value="tajik">Tajik</option>
                        <option value="hazara">Hazara</option>
                        <option value="uzbek">Uzbek</option>
                        <option value="other">Other</option>
                    </select>
                    <label for="NID">Tazkira_Number</label>
                    <input type="text" name="NID" id="">
                    <label for=" CellPhone"> Cell_Phone</label>
                    <input type="text" name=" CellPhone" id="">
                    <label for="ParentCellphone">Parent_Cell_Phone</label>
                    <input type="text" name="ParentCellphone" id="">
                    <label for="Email">Email</label>
                    <input type="email" name="Email" id="">
                    <input type="submit" class="click" value="Save"
                        style="background: #1464BE; width: 200px; color: white;margin-top: 30px;">
                </div>
                <div>
                    <label for="photo">Photo</label>
                    <div id="photo"></div>
                    <input type="file" name="photo" id="" value="Select Photo">
                </div>

            </main>

        </form>

        <aside>

            <div>
                <p>Notification</p>
                <p>Lorem ndis labore quod eligendi obcaecati animi pariatur nostrum eius consequatur blanditiis corporis
                    aperiam culpa ad aliquid atque inventore, maiores dolores perspiciatis.</p>
                <p>Lorem, ip commodi rem corrupti saepe voluptatibus repellendus pariatur doloribus quis nobis
                    consequuntur fugiat? Tempore cumque autem culpa quod, impedit repellat et aut!</p>
                <p>Lorem ipstam quas doibero reprehenderit tempora porro explicabo ea doloribus molestiae enim.</p>
            </div>

            <p style="margin: 0 0 0 10px; position: fixed; bottom: 50px; color: white;">Powered By: CodeX</p>

            <div>
                <a href="">
                    <i class="fab fa-facebook" style="font-size: 20px;"></i>
                </a>
                <a href="">
                    <i class="fab fa-twitter" style="font-size: 20px;"></i>
                </a>
                <a href="">
                    <i class="fab fa-linkedin" style="font-size: 20px;"></i>
                </a>
                <a href="">
                    <i class="fab fa-whatsapp" style="font-size: 20px;"></i>
                </a>
                <a href="">
                    <i class="fab fa-instagram" style="font-size: 20px;"></i>
                </a>
            </div>

        </aside>

    </div>

</body>

</html>